:root {
  --primary: #e1ad01;
  --secondary: #000;
  --tertiary: #cacaca;
  --bg: #d44400;
}

/* .nav-links {
  font-size: 22px;
  padding-right: 1.5rem;
  line-height: auto;
  height: 45px;
  padding-top: 15px;
} */

.bg-n {
  background-color: #e1ad01;
}

.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #dffc0a, #fcb045, #fdfa2d, #dea512);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: #000000;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);
  /* background-image: url('./images/about.png'); */
}

.table {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 2rem;
  height: 40px;
  text-align: left;
  flex-direction: row-reverse;
} */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row-reverse;
  }
}

.header {
  position: relative;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);
}

.fixed-top {
  z-index: 1030;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);
}
body {
  background-color: #ffffff;
  /* background-image: url('./images/img4.jpg') ; */
  text-align: center;
  width: 100%;
  margin: auto;
}

a {
  color: #000000;
}

body {
  margin: 0;
  background: #c8c8c8;
  background: url('./images/Pet_Wonder_Wallpaper.jpg');

  /* background-repeat: repeat;
	background-size: contain;
  background-size: contain; */
  background-repeat: repeat;
  background-size: 600px 1200px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.397),
      rgba(255, 255, 255, 0.397)
    ),
    url('./images/Pet_Wonder_Wallpaper.jpg');
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 750px;
  text-align: left;
  position: relative;
  /* background:url('./images/logo1.png') no-repeat center; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-sign {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: #ffaa00;
  padding: 0 50px 20px;
  text-align: center;
}

.img-sign img {
  height: 170px;
  width: 40%;
}

.sign-content {
  padding: 20px 70px 50px 70px;
  color: #000000;
  background-color: white;
}

@media (max-width: 700px) {
  .img-sign {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: #ffaa00;
    padding: 0 50px 13px;
    text-align: center;
  }
  .sign-content {
    padding: 20px 20px 50px 20px;
    color: #000000;
    background-color: white;
  }
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  /* padding:50px 70px 50px 70px; */
  background: white;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}
.login-form {
  min-height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  font-size: 18px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  /* color: black; */
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 25px 20px;
  border-radius: 25px;
  /* background:rgba(255, 255, 255, 0.582); */
  background-color: rgba(0, 0, 0, 0.089);
  color: black;
  font-weight: 500;
}
.login-form .group input[data-type='password'] {
  -webkit-text-security: circle;
}
.login-form .group .button {
  background: #ffaa00;
  color: #141213;
  padding: 13px;
}

.hr {
  height: 3px;
  margin: 30px 0 40px 0;
  background-color: rgba(0, 0, 0, 0.089);
  /* background-color: rgba(255, 255, 255, 0.575); */
}

.foot-lnk {
  font-size: 20px;
  text-align: center;
  /* color: white; */
}

.signlinks {
  color: #ffaa00;
}

.signlinks:hover {
  color: #ffaa00;
}

.signforms {
  margin: 20px;
  line-height: 1.2rem;
}

.signforms h2 {
  /* color: #ffffff; */
}

@media (max-width: 500px) {
  .signforms {
    margin: 0px;
  }
}

.set-bg {
  background-repeat: no-repeat;
  /* background-size: cover;
	background-position: top center; */
}

.spad {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 5px;
  /* padding-bottom: 20px; */
}
.recent-game-section {
  /* background-image: url('./images/Pet_Wonder_Wallpaper.jpg'); */
  /* border-top: 1px solid #d6dee7; */
  /* border-bottom: 1px solid #d6dee7; */
  background-repeat: repeat;
  background-size: cover;
}

.slider-images {
  height: 400px;
  width: 100%;
  /* border-radius: 6%; */
  display: block;
  margin: auto;
}

@media (max-width: 700px) {
  .slider-images {
    height: 200px;
    width: 100%;
    /* border-radius: 6%; */
    display: block;
    margin: auto;
  }
}

th {
  text-align: left;
}

td {
  text-align: right;
}

.img-responsive-categ {
  padding: 15px;
  border-radius: 50%;
  height: 150px;
  width: 75%;
}

.testimony-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.6;
  background: #ffb116;
}

.testimony-section {
  position: relative;
  background: #fd4c82;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 5em 0;
  background-image: url('');
  color: white;
}

.testi {
  color: black !important;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.intro .services {
  padding: 25px;
  background: #fff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .intro .services {
    margin-top: -75px;
  }
}

.services {
  padding: 25px;
  border-radius: 4px;
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .icon {
  width: 80px;
  height: 80px;
  line-height: 1.3;
  border-radius: 50%;
  background: #f0f0f0;
}

.services .media-body {
  width: calc(100% - 100px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 20px;
}
.services .media-body h3 {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .media-body p {
  font-size: 15px;
  color: grey;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 991.98px) {
  .services .icon {
    width: 30px;
    height: 30px;
  }
  .services .icon span {
    font-size: 30px;
  }
  .services .media-body {
    width: calc(100% - 40px);
  }
}
.services:hover,
.services.active {
  background: #321f28;
}
.services:hover .icon,
.services.active .icon {
  background: #fff;
}
.services:hover .media-body,
.services.active .media-body {
  color: rgba(255, 255, 255, 0.9);
}
.services:hover .media-body h3,
.services.active .media-body h3,
.services:hover .media-body p {
  color: #fff;
}
@media (max-width: 991.98px) {
  .services {
    margin-bottom: 30px;
  }
}

.list-services {
  margin: 40px 0 0 0;
  padding: 0;
}
.list-services li {
  list-style: none;
  display: block;
  margin-bottom: 15px;
}
.list-services li .icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: black;
}
.list-services li .icon span {
  color: #fff;
}
.list-services li p {
  font-weight: 700;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 0;
}

.learning_img {
  text-align: center;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
}

/* footer */

.footer-clean {
  padding: 50px 0;
  background-color: #32383e;
  color: #fff;
  clear: both;
  font-family: sans-serif;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500px;
  font-size: 22px;
  color: rgb(2, 1, 7);
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 26px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a.fb-col:hover {
  opacity: 1;
  background: #3b5998;
  border-color: #28282d;
}

.footer-clean .item.social > a.tw-col:hover {
  opacity: 1;
  border-color: #28282d;
  background: #00acee;
}

.footer-clean .item.social > a.lin-col:hover {
  opacity: 1;
  border-color: #28282d;
  background: #0e76a8;
}

.footer-clean .item.social > a.ins-col:hover {
  opacity: 1;
  border-color: #28282d;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.aradhna_footerli {
  line-height: 1.9em;
  margin-bottom: 0;
}

#aradhna_footer_logo {
  width: 40%;
  border-radius: 22%;
}

.about-haedings {
  text-align: left;
  padding: 20px 0;
}
.about {
  margin: 40px auto;
  text-align: left;
}
.whole-cont {
  padding: 0;
}
@media (max-width: 600px) {
  .whole-cont {
    padding: 0;
    margin-top: 22px;
  }
}

/* CATEGORIES */

.categorylist {
  /* border-right: 1px solid #dddddd; */
  padding: 30px 10px;
  display: block;
  margin: auto;
  font-size: 60px;
  text-align: center;
}
.categorylist:last-child {
  border-right: 0;
}
.categorylist:hover .title,
.content:hover h4,
.petscat:hover {
  color: #fc7070;
  text-decoration: none;
}

.categorylist h6 {
  font-size: 20px;
}

.banner img {
  height: 97px;
  width: 121px;
}
.categorylist:hover .banner img {
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}

.category_text {
  background: rgb(232, 131, 69);
  border-radius: 18%;
  width: 74%;
  display: block;
  margin: auto;
  position: absolute;
  bottom: -14px;
  left: 37px;
  padding: 6px;
  height: 38px;
}

.category-listing-type-1 .category_text {
  background: #e88345;
  box-shadow: 0 5px 5px rgba(228, 228, 228, 0.8);
}
.category-listing-type-1 .category_text {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  width: 80%;
  bottom: 30px;
  border-radius: 30px;
}

.category-listing-type-1 .category_text h5,
.category-listing-type-1 .category_text .h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.badge {
  padding: 10px;
  text-decoration: none;
}

.shopbypets {
  padding: 10px 0 10px;
}

.image {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.image:hover {
  transform: rotateY(180deg);
}

/* products */
.single_courses {
  background-color: #ffffff;
  margin-bottom: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 430px;
  width: 100%;
}

.single_courses .thumb {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 65px;
}

@media (max-width: 600px) {
  .single_courses {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 15px;
    height: 450px;
  }
}

@media (max-width: 680px) {
  .buy-btn {
    background-color: rgb(250, 23, 23);
    border-radius: 15px;
    padding: 2px;
    font-size: 12px;
    margin: 0px;
    color: white;
  }
}

.buy-btn {
  background-color: rgb(250, 23, 23);
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.addcart {
  margin-right: 12px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(255, 204, 0);
  font-weight: 200px;
  padding: 5px;
  color: rgb(255, 204, 0);
}

.addcart:hover {
  margin-right: 12px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(255, 204, 0);
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding: 5px;
  color: rgb(31, 4, 153);
  background-color: rgb(255, 204, 0);
}

@media (max-width: 674px) {
  .buy-btn {
    background-color: rgb(250, 23, 23);
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
    margin-left: 0px;
    color: white;
  }

  .addcart {
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .single_courses .thumb {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 10px;
    height: auto;
  }
  .buy-btn {
    background-color: rgb(250, 23, 23);
    border-radius: 10px;
    padding: 1px;
    font-size: 10px;
    margin-left: 0px;
    color: white;
  }

  .addcart {
    margin-right: 10px;
  }

  .addcart:hover {
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(255, 204, 0);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 10px;
    padding: 0px;
    color: rgb(31, 4, 153);
    background-color: rgb(255, 204, 0);
  }
}

.akruti-a,
button {
  color: #1f1f1f;
  outline: medium none;
}

.single_courses .thumb img {
  width: 70%;
  transform: scale(1);
  transition: 0.3s;
}

.single_courses .thumb img {
  width: 70%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single_courses:hover .thumb img {
  width: 70%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.single_courses .courses_info {
  border-top: 1px solid #e8e8e8;
  padding: 6px 30px 2px;
}

@media (max-width: 300px) {
  .single_courses .courses_info {
    border-top: 1px solid #e8e8e8;
    padding: 6px 30px 2px;
  }
}

.product p {
  min-height: 4rem;
  font-size: 15px;
  margin-top: 20px;
}

.single_courses .courses_info span {
  font-size: 14px;
  color: #4d4d4d;
  font-family: 'Poppins', sans-serif;
}

.single_courses .courses_info h3 {
  font-size: 18px;
  color: #1f1f1f;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.single_courses .courses_info .star_prise {
  /* border-top: 1px solid #e8e8e8; */
  padding-top: 16px;
}

.single_courses .courses_info .star_prise .prise span.offer {
  color: #c7c7c7;
  text-decoration: line-through;
  margin-right: 20px;
}

.single_courses .courses_info .star_prise .prise span {
  font-size: 18px;
}

.single_courses .courses_info .star_prise .prise span.active_prise {
  color: #dc3545;
}

.single_courses .courses_info .star_prise .prise span {
  font-size: 18px;
}

.akruti-img {
  object-fit: contain;
  height: 150px;
}

#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60%;
}

@media (max-width: 770px) {
  #over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 60%;
  }
}

.same-sizes {
  height: 100px;
  width: 100px;
  border-radius: 20%;
}

Link :hover {
  text-decoration: none;
}

.card-buttons {
  font-size: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mt-5,
.my-5 {
  margin-top: 1rem !important;
}
.lol {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
}

@media (max-width: 576px) {
  .lol {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .single_courses .courses_info {
    padding: 6px 30px 0px;
  }

  .single_courses .courses_info h3 {
    font-size: 14px;
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 500;
  line-height: 28px;
  margin-top: 11px;
  margin-bottom: 0px;
  min-height: 56px; */
  }
}

@media (max-width: 500px) {
  .single_courses .courses_info {
    padding: 6px 11px 8px;
  }

  .single_courses .thumb img {
    width: 100%;
    transform: scale(1);
    height: 144px;
    transition: 0.3s;
  }

  /* .product{
  padding: 0px;
  margin-bottom: -31px;
  
} */
}

/* category section */
.category {
  padding: 7px 0;
  text-align: left;
}

/* .container{
  padding: 0 10px;
} */

.category h1 {
  padding: 0;
  text-align: left;
}

.category-img {
  width: inherit;
  text-align: center;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .large {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .lead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.form input[type='date'],
.form input[type='email'],
.form input[type='password'],
.form input[type='text'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding-right: 0px;
  margin-left: 0;
}

input:focus {
  background-color: #f4f3f3;
  transition: 0.5s;
}

.form input[type='date'],
.form input[type='email'],
.form input[type='number'],
.form input[type='password'],
.form input[type='text'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 10px;
  margin-left: 0;
}
.form input[type='date']:focus,
.form input[type='email']:focus,
.form input[type='number']:focus,
.form input[type='password']:focus,
.form input[type='text']:focus,
.form select:focus,
.form textarea:focus {
  outline: none !important;
  border-color: rgb(255, 153, 0);
  box-shadow: 0 0 10px rgb(255, 153, 0);
}

label {
  margin-left: 5px;
  font-size: 15px;
}

.profile-about {
  padding: 20px;
  background-color: #fff;
  text-align: left;
  /* background-image: url('images/back.jpg'); */
  /* overflow: hidden; */
  /* background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: top center;
  background-attachment: fixed;
  padding: 10em;
  background-image: url(images/back.jpg);
  background-size: 1500px 700px; */
}

.bg-light {
  /* border: #000000 groove; */
  background-color: #fff;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);
}

.address-block {
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.2);
  background-color: #fff;
  text-align: left;
  padding: 20px;
}

.address {
  padding-top: 20px;
  text-align: left;
}

.payment {
  margin-top: 6rem;
}

.left {
  text-align: right;
}

@media (max-width: 700px) {
  .left {
    text-align: left;
  }
}

.colored-heading {
  background-color: rgba(225, 173, 1, 0.2);
  padding-left: 7px;
  text-align: left;
  border-left: solid 6px red;
}
.colored-crumbs {
  background-color: rgba(225, 173, 1, 0.2);
  padding-top: 0px;
  font-size: 0.8rem;
  text-align: left;
  border-left: solid 6px red;
}
.colored-heading h2 {
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .colored-heading h2 {
    font-size: 1.5rem;
  }
}

/* particularProduct section */
.particularProduct {
  padding-top: 20px;
  text-align: left;
  background-color: aliceblue;
  /* border-radius: 3%; */
  padding: 29px;
  border: 2px solid transparent;
  /* border-radius: 25px; */
  /* opacity: .6; */
  background: #ffb11667;
  background: #fff;
  margin: 30px auto;
}

@media (max-width: 700px) {
  .particularProduct {
    padding: 20px 10px;
  }
}

.particularProduct h1 {
  color: black;
}

.particularProduct h3 {
  font-weight: 500;
  padding: 20px 0;
}

.particularProduct .cross {
  /* font-size: 20px; */
  text-decoration: line-through;
}

.particularProduct .save {
  color: #e88345;
  padding: 20px;
}

.particularProduct i {
  font-size: 30px;
  color: black;
}

.particularProduct .iconspro {
  margin: 5px 0;
}

.petMate img {
  padding: 27px;
}

.card-img-top {
  height: 16rem;
  object-fit: cover;
}
